include ../config/config
<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="Viajar, Estilo de vida, Experiencia")
        meta(name="description", content="En el blog El Viajero, te enseñamos la experiencia de recorrer distintos lugares del mundo")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Blog El Viajero 
        link(type="image/png", rel="icon", href="./img/favicon.png")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
        integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous")
    body
        .main-container
            header.header
                .logo
                    img.img-logo(src="./img/Logo-corto.png", alt="Logo")
                block menu
            main.main
                block main
            footer.footer
                p.p-footer Copyright © 2020 El Viajero
                a.policies(href="/") Políticas De Privacidad
        script(src="./js/scripts.js")