-const pages = ['inicio', 'destinos', 'sobre mí', 'contacto', 'blog']
- let pageActive
- let continent
- let logoContinent
- let imageInput
- let title
- let user
- let date
- let comment
- let category