.destinos {
    position: relative;
    padding: 0 1.2rem 2.5rem;
    text-align: center;
    background-color: #fff;
    color: #000;
    @include tablet {
        padding: 10rem 0.5rem 6rem;
    }
    &-h2 {
        position: relative;
        font-size: 3rem;
        padding: 2rem 0;
        @include tablet {
            top: -60px;
            padding: 0 0 1.5rem;
            font-size: 4rem;
        }
    }
    &-p {
        position: relative;
        margin-bottom: 3rem;
        font-size: 1.2rem;
        @include tablet {
            top: -60px;
            margin-bottom: -2rem;
            font-size: 1.6rem;
        }
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 6rem;
    }
    .continente {
        margin-bottom: 1rem;
        cursor: pointer;
        @include tablet {
            margin: 2rem 0.5rem;
            width: 31%;
        }
        &-link {
            display: block;
            height: 100%;
        }
        &-img {
            width: 80%;
            @include tablet {
                width: 90%;
            }
            @include laptop {
                width: 75%;
            }
        }
        &-title {
            font-size: 1.8rem;
            margin: 1rem 0;
            color: #000;
        }
        &-p {
            font-size: 1.2rem;
            padding: 1rem 3rem;
            color: #ccc;
        }
    }
}