.header {
    background-color: #fff;
    padding: 1rem .8rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include laptop {
        padding: 1rem 1.5rem;
    }
}

.logo {
    @include laptop {
        margin-left: 0;
    }
}