extends ../templates/template
block menu
    include ../includes/main-menu
block main
    - continent = 'América'
    p.continent-img
        <i class="fas fa-globe-americas"></i>
    include ../includes/continent