extends ../templates/template
block menu
    - pageActive = 'inicio'
    include ../includes/main-menu
block main
    include ../includes/banner
    section.gallery#gallery
        include ../includes/ondas
        h2.gallery-h2 Galería
        p.gallery-p Echale un vistazo al mundo
        .gallery-content
            img.gallery-img(src="./img/desert.jpg", alt="Desierto")
            img.gallery-img(src="./img/japan.jpg", alt="")
            img.gallery-img(src="./img/bench.jpg", alt="Banco de madera bajo un arbol")
            img.gallery-img(src="./img/schilthorn.jpg", alt="")
            img.gallery-img(src="./img/jungle.jpg", alt="Sendero de madera en el bosque")
            img.gallery-img(src="./img/vancouver.jpg", alt="Barcas y rascacielos desd el puerto de Vancouver")
        section.image-light
            .controls
                span.controls-span#plus <i class="fas fa-search-plus"></i>
                span.controls-span#less <i class="fas fa-search-minus"></i>
                span.controls-span#closed <i class="far fa-times-circle"></i>
            img.expand-image(src="", alt="")
        
        