extends ../templates/template
block menu
    include ../includes/main-menu
block main
    - continent = 'Oceanía'
    p.continent-img
        <i class="fas fa-globe-asia"></i>
    include ../includes/continent