section.banner
    img.img-banner(src="./img/banner.jpg", alt="Excursionista frente a un paisaje montañoso, con un lago")
    .cont-title
        h1.title El Viajero
        p.p-banner Viajar es un estilo de vida