.icon-menu
    img.icon-menu__img(src="./img/hamburgermenu.png", alt="Icono barras de menú")
.icon-menu-closed
    img.icon-menu-closed__img(src="./img/x.png", alt="Icono x")

nav.main-nav#mainNav
    ul.main-menu#mainMenu
        each page in pages
            li.main-menu__item
                a.main-menu__link(href=`/${page}`)= page.charAt(0).toUpperCase()+ page.slice(1)