.icon-menu
    img.icon-menu__img(src="./img/hamburgermenu.png", alt="Icono barras de menú")
.icon-menu-closed
    img.icon-menu-closed__img(src="./img/x.png", alt="Icono x")

nav#mainNav.main-nav
    ul#mainMenu.main-menu
        each page, index in pages
            if page == pageActive
                li.main-menu__item
                    if index==0
                        a(href="/").main-menu__link.main-menu__link--active= page.charAt(0).toUpperCase()+ page.slice(1)
                    else
                        a(href=`/${page}.html`).main-menu__link.main-menu__link--active= page.charAt(0).toUpperCase()+ page.slice(1)
            else
                li.main-menu__item
                    if index==0
                        a(href="/").main-menu__link= page.charAt(0).toUpperCase()+ page.slice(1)
                    else
                        a(href=`/${page}.html`).main-menu__link= page.charAt(0).toUpperCase()+ page.slice(1)